@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.custom-btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;

    cursor: pointer;
    outline: none;
    border: 2.5px solid #2B2B2B;
    box-shadow: 3px 3px 0px #2B2B2B;
    transition: all 0.15s ease-in-out;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4059AD;
    color: #F0F2F1;
}

.btn-secondary {
    background-color: #DDE3F6;
    color: #4059AD;
}

.btn-ghost {
    background-color: #FFFFFF;
    color: #4059AD;
    border: 2.5px solid #2B2B2B;
    box-shadow: none;
}

.custom-btn:hover:not(:disabled) {
    box-shadow: 3px 3px 0px #2B2B2B;
    filter: brightness(1.08);
}

.btn-primary:hover:not(:disabled) {
    filter: brightness(0.95);
    color: #C6D2FA;
}

.btn-secondary:hover:not(:disabled) {
    filter: brightness(0.95);
    color: #26366A;
}

.btn-ghost:hover:not(:disabled) {
    filter: brightness(0.95);
    box-shadow: none;
}

.custom-btn:active:not(:disabled) {
    box-shadow: inset 3px 3px 0px #111B3C;
    filter: brightness(1);
}

.custom-btn:disabled {
    cursor: not-allowed;
    transform: none;
    filter: none;
}

.btn-primary:disabled {
    background-color: #62697D;
    color: #ABABAB;
    border-color: #3D414B;
    box-shadow: 3px 3px 0px #3D414B;
}

.btn-secondary:disabled {
    background-color: #D5D8E2;
    color: #9BA8D5;
    border-color: #9EA4B7;
    box-shadow: 3px 3px 0px #9EA4B7;
}

.btn-ghost:disabled {
    background-color: #F3F3F3;
    color: #9EA4B7;
    border: 2.5px solid #8C94B0;
}

.btn-icon {
    width: 18px;
    height: 18px;
}