* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; /* Sesuaikan dengan font dokumentasi Anda */
  background-color: #ffffff;
  color: #333333;
  overflow-x: hidden;
}

